<p>employeearray works!</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>Index</tr>
        <tr>Name</tr>
        <tr>Age</tr>
        <tr>Department</tr>

    </thead>
    <tbody *ngFor="let emp of people, let i=index">
        <tr>
            <td>{{i}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.dept}}</td>
        </tr>
     </tbody>
</table>
<hr>
<h2>NG IF</h2>
<h3>Display the employes whose age>23</h3>
<div *ngFor="let e of people">
    <li *ngIf="e.age>23 && e.dept==='HR'">{{e.name}} {{e.age}}</li>
    <li>{{e.name}} {{e.age}}</li>
    <li> {{e.dept}} </li> <!--If condition is not applied to this-->

</div>
<br>
<div class="det" *ngFor="let e of people">
    <div *ngIf="e.age>23 && e.dept==='HR'">
        <li>{{e.name}} {{e.age}}</li>
         <li> {{e.dept}} </li>

    </div>
</div>