<p>studentarray works!</p>
<div class="container">
    <h2>Student Details</h2>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Student Id , Student Name , Age , IsCleared</div>
        <div class="panel-body"><div *ngFor="let stu of student">
            {{stu.Sid}}
            {{stu.name}}
            {{stu.age}}
            {{stu.IsCleared}}
        </div></div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Student Details</h2>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Student Id , Student Name , Age , IS Cleared</div>
        <div class="panel-body"><div *ngFor="let stu of student">
          <div *ngIf="stu.IsCleared===true">
            {{stu.Sid}}
            {{stu.name}}
            {{stu.age}}
            {{stu.IsCleared}}
            <img [src]=picture alt="ball" />
          </div>
        </div></div>
      </div>
    </div>
  </div>   
      
   
